{% extends '@FrontFront/layout.html.twig' %}

{% block title %}{{ getSettingByName('COMPANY_NAME') }} - {{ translate(menu.menuTranslations).name }}{% endblock %}
{% block meta_description %}{{ translate(menu.menuTranslations).metaDesc }}{% endblock %}

{% block ogtitle %}{{ getSettingByName('COMPANY_NAME') }} - {{ translate(menu.menuTranslations).name }}{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{{ app.request.uri }}{% endblock %}
{% block ogimage %}{{ app.request.schemeAndHttpHost() ~ asset('assets_global/img/logo.png') }}{% endblock %}
{% block ogdescription %}{{ translate(menu.menuTranslations).metaDesc }}{% endblock %}

{% block stylesheets %}
    {% if app.debug %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets_front/plugins/fancybox3/jquery.fancybox.min.css') }}">
    {% else %}
        {% stylesheets filter='cssrewrite'
        'assets_front/plugins/fancybox3/jquery.fancybox.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt50">
        <div class="row mt20">
            <h1>{{ translate(menu.menuTranslations).name }}</h1>

            {#{% if translate(page.pageTranslations).template is not empty %}
                <div class="row">
                    <div class="col-md-12 description">
                        {{ include(template_from_string(translate(page.pageTranslations).template)) }}
                    </div>
                </div>
            {% endif %}#}

            {% if documents | length > 0 %}
                <div class="row mb20">
                    <div class="col-md-12">
                        <div class="gallery-container">
                            {% for document in documents %}
                                <div class="col-md-2">
                                    <a href="{{ document.webPath | imagine_filter('image_gallery') }}" data-fancybox="group">
                                        <img src="{{ document.webPath | image([200,200]) }}" alt="{{ document.name }}" class="img-responsive">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row mt-20">
                    <div class="col-md-12">
                        <p>Aucune image dans cette galerie</p>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% if app.debug %}
        <script src="{{ asset('assets_front/plugins/fancybox3/jquery.fancybox.min.js') }}" type="text/javascript"></script>
    {% else %}
        {% javascripts
        'assets_front/plugins/fancybox3/jquery.fancybox.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}