{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'front_fos_user_registration_register'}}) }}

<h3>Mes coordonées</h3>

{{ form_errors(form) }}

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">{{ message }}</div>
    {% endfor %}
{% endfor %}

{{ form_row(form.civility) }}
{{ form_row(form.lastname) }}
{{ form_row(form.firstname) }}
{{ form_row(form.email) }}
{{ form_row(form.plainPassword) }}
{#{{ form_row(form.homePhone) }}#}
{{ form_row(form.cellPhone, {'label': 'Téléphone'}) }}
{{ form_row(form.acceptMailling) }}

<hr>
<h3>Mon adresse</h3>
{% for addres in form.address %}
    {% for element in addres %}
        {{ form_row(element) }}
    {% endfor %}
{% endfor %}

{{ form_row(form.add) }}

{{ form_end(form) }}
