{% extends '@FrontContact/layout.html.twig' %}

{% block title %}{{ getSettingByName('COMPANY_NAME') }} - {{ translate(menu.menuTranslations).name }}{% endblock %}
{% block meta_description %}{{ translate(menu.menuTranslations).metaDesc }}{% endblock %}

{% block ogtitle %}{{ parent() }} - {{ translate(menu.menuTranslations).name }}{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{{ app.request.uri }}{% endblock %}
{% block ogimage %}{{ app.request.schemeAndHttpHost() ~ asset('assets_global/img/logo.png') }}{% endblock %}
{% block ogdescription %}{{ translate(menu.menuTranslations).metaDesc }}{% endblock %}

{% block stylesheets %}
    {% if app.debug %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets_back/global/plugins/ion.rangeslider/css/ion.rangeSlider.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets_back/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets_back/global/plugins/select2/css/select2.min.css') }}">
    {% else %}
        {% stylesheets filter='cssrewrite'
        'assets_back/global/plugins/ion.rangeslider/css/ion.rangeSlider.css'
        'assets_back/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css'
        'assets_back/global/plugins/select2/css/select2.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container mt100">
        <div class="row">
            <h1 class="text-center">{{ translate(menu.menuTranslations).name }}</h1>
        </div>



        <div class="row mb20">
            <button class="btn btn-primary btn-more-criteria" data-toggle="collapse" data-target="#filtre-collapse" disabled="disabled"><i class="fa fa-search"></i> Plus de critères</button>
            <div id="filtre-collapse" class="collapse">
                <hr>
                <div id="filtre-container" data-id="0"></div>
                <hr>
            </div>
        </div>



        <div id="product-container" class="row">
            {% if products|length > 0 %}
                {% for product in products %}
                    <div class="col-md-3">
                        <a href="{{ path('front_site_product_view', {'product': product.id, 'slug': translate(product.productTranslations).slug}) }}" title="{{ translate(product.productTranslations).name }}">
                            {% if product.documents|length > 0 %}
                                <img src="{{ product.documents.first.webPath | image([370,370]) }}" class="img-responsive" alt="{{ product.documents.first.name }}">
                            {% else %}
                                <img src="{{ '/assets_front/img/no-image.jpg' | image([370,370]) }}" alt="Aucune image">
                            {% endif %}

                            <h4>{{ translate(product.productTranslations).name }}</h4>
                            {% if product.prixTtc > 0 %}
                                <p>{{ product.prixTtc|price(2) }}</p>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}

            {% else %}
                <p>Aucun produit pour le moment</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {% if app.debug %}
        <script src="{{ asset('assets_back/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets_back/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/frontproduct/js/productFilterV.js') }}" type="text/javascript"></script>
    {% else %}
        {% javascripts
        'assets_back/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js'
        'assets_back/global/plugins/select2/js/select2.full.min.js'
        '@FrontProductBundle/Resources/public/js/productFilterV.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}