{% extends '@FrontFront/layout.html.twig' %}

{% block title %}{{ getSettingByName('COMPANY_NAME') }} - Confirmation{% endblock %}
{% block meta_description %}{% endblock %}

{% block ogtitle %}{{ getSettingByName('COMPANY_NAME') }} - Confirmation{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}{{ app.request.uri }}{% endblock %}
{% block ogimage %}{{ app.request.schemeAndHttpHost() ~ asset('assets_global/img/logo.png') }}{% endblock %}
{% block ogdescription %}{% endblock %}

{% block stylesheets %}
    {% if app.debug %}
        <link rel="stylesheet" href="{{ asset('assets_front/css/steps.css') }}" type="text/css">
    {% else %}
        {% stylesheets filter='cssrewrite'
            'assets_front/css/steps.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block body %}


    <div class="container mt50">

        {{ include('@FrontCart/Cart/steps.html.twig', {'step1': 'done', 'step2': 'done', 'step3': 'done', 'step4':'inprocess', 'step5': null, 'step6': null} ) }}

        <div class="row mb20">
            <div class="col-md-12">
                <h2>Mode de paiement</h2>
            </div>
        </div>

        <div id="payment" class="payment  ">
            {% for payment in payments %}

                {% if payment.name == 'carte bleue' %}
                    <div class="col-md-3 col-sm-6 transporteur ">
                        <div class="thumbnail clickable " style="background: url({{ asset('assets_front/img/Paiment/paiement_logo_1050.png') }}); background-position:50% 50%;background-size:contain; background-repeat: no-repeat">
                            <div class="chktransporteur  pull-right"><input type="radio" data-id="{{ payment.id }}" data-name="cbSingle" name="chkmethode" value="{{ payment.id }}"><label for="chk-1"><span><div></div></span></label></div>
                            <div class="caption text-center"><h2>{{ payment.name }}</h2>
                                <p>
                                    <small></small>

                                </p>
                            </div>
                        </div>

                    </div>


                    {% if cart.total >130 and cart.total < 3000 %}

                        <div class="col-md-3 col-sm-6 transporteur   ">
                            <div class="thumbnail clickable " style="background: url({{ asset('assets_front/img/Paiment/choozeo.jpg') }});height: 90px; background-position:50% 50%;background-size:contain; background-repeat: no-repeat">
                                <div class="chktransporteur  pull-right"><input type="radio" data-id="{{ payment.id }}" data-name="cbMulti" name="chkmethode" value="{{ payment.id }}"><label for="chk-1"><span><div></div></span></label></div>
                                <div class="caption text-center"><h2 class="hidden">Paiement </h2>
                                    <p>
                                        <small></small>

                                    </p>
                                </div>
                            </div>

                        </div>


                    {% endif %}

                {% elseif payment.name == 'cheque' %}
                    <div class="col-md-3 col-sm-6 transporteur ">
                        <div class="thumbnail clickable " style="background: url({{ asset('assets_front/img/Paiment/cheque_logo_1047.png') }}); background-position:50% 50%;background-size:contain; background-repeat: no-repeat">
                            <div class="chktransporteur  pull-right"><input type="radio" data-id="{{ payment.id }}" data-name="cheque" name="chkmethode" value="{{ payment.id }}"><label for="chk-1"><span><div></div></span></label></div>
                            <div class="caption text-center"><h2>{{ payment.name }}</h2>
                                <p>
                                    <small></small>
                                </p>
                            </div>
                        </div>
                    </div>



                {% elseif payment.name == 'virement' %}
                    <div class="col-md-3 col-sm-6 transporteur ">
                        <div class="thumbnail clickable " style="background: url({{ asset('assets_front/img/Paiment/virement_wismer.png') }}); background-position:50% 50%;background-size:contain; background-repeat: no-repeat">
                            <div class="chktransporteur  pull-right"><input type="radio" data-id="{{ payment.id }}" data-name="virement" name="chkmethode" value="{{ payment.id }}"><label for="chk-1"><span><div></div></span></label></div>
                            <div class="caption text-center"><h2>{{ payment.name }}</h2>
                                <p>
                                    <small></small>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endif %}

            {% endfor %}

            <div class="row mt50 mb20">
                <div class="col-md-12">
                    <a href="{{ path('front_order_index') }}" class="btn btn-default pull-left"><i class="fa fa-undo"></i> Retour</a>
                </div>


                <div class="col-md-12">
                    <a href="javascript:;" id="btn-carrier" class="btn btn-primary pull-right hidden  "><i class="fa fa-check"></i> Continuer</a>

                </div>
            </div>
        </div>

    </div>


{% endblock %}


{% block javascripts %}

    <script>
        var CHEQUE = {{ constant('Admin\\OrderBundle\\Entity\\Payment::CHEQUE') }};
        var CARTEBLEUE = {{ constant('Admin\\OrderBundle\\Entity\\Payment::CARTEBLEUE') }};
        var VIREMENT = {{ constant('Admin\\OrderBundle\\Entity\\Payment::VIREMENT') }};
    </script>

    {% if app.debug %}
        <script src="{{ asset('assets_back/global/plugins/bootstrap-dialog/js/bootstrap-dialog.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets_back/global/plugins/icheck/icheck.js') }}" type="text/javascript"></script>


        <script src="{{ asset('bundles/frontorder/js/selectPayment.js') }}" type="text/javascript"></script>
    {% else %}
        {% javascripts
            'assets_back/global/plugins/bootstrap-dialog/js/bootstrap-dialog.js'

            'assets_back/global/plugins/icheck/icheck.js'
            '@FrontOrderBundle/Resources/public/js/selectPayment.js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}


